# Auth0 (For User Authentication)
AUTH0_SECRET='generate_with_openssl'
APP_BASE_URL='http://localhost:3000'
AUTH0_DOMAIN='auth0_domain_name'
AUTH0_CLIENT_ID='auth0_client_id'
AUTH0_CLIENT_SECRET='auth0_client_secret'

# Google Gemini (For Document Parsing)
GEMINI_API_KEY='your_gemini_api_key'

# ElevenLabs (For Voice Summaries)
ELEVENLABS_API_KEY='elevenlabs_api_key'

# MongoDB Atlas (For Data Storage)
MONGODB_URI='mongodb_uri'